/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
@import '~ngx-toastr/toastr.css';
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

body{
  background:#212529;
  color:white;
}

.jumbotron{
  background:#212529;
}

.model-body{
  background:#212529 !important;
  color:white;
  text-align: center;
}
